body {
    width: 1440px;
    height: 700px;
    position: relative;
    background-color: #e9f1cb;
}

header h1 img {
    top: 50px;
    left: 100px;
    position: absolute;
}

main {
    width: 85%;
    height: 100%;
    display: flex;
    margin: auto 150px;
}
